.sessions_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 90px;
  position: relative;
  background-color: var(--hero-grey);
}
.sessions_page__custom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
  background: var(--background-color);
  padding: 20px;
  border-radius: 15px;
  width: 328px;
  margin-bottom: 24px;

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
.sessions_page__custom input,
.sessions_page__custom button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--dark-grey);
  margin-bottom: 8px;
  font-size: 0.9rem;
}
.sessions_page__custom button {
  background: var(--blue);
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 12px;
  margin-top: 8px;
} 